<div class="row">
  <div class="col-auto">
    <h2>Welcome,{{id}} {{username}} {{user_id}}!</h2>

  </div>
</div>

<div class="row mt-4">
  <div class="col-md-6">


    <form class="form new-project-form">
      <div class="form-group">
        <label for="project-name">post title</label>
        <input class="form-input" type="text" id="post_title" name="post_title" />
        <label for="project-name">post text</label>
        <input class="form-input" type="text" id="post_text" name="post_text" />
         <label for="project-name">post text</label>
       
      <button type="submit" id = "post" class="btn btn-primary">post</button>

       

<p>{{username}}<p>
    <h2>{{replies}}</h2>


{{#each histories as |history|}}
      <h1>{{history.post_title}} {{history.date_created}}</h1> <h2>{{history.post_text}}</h2>
 
 <input class="form-input" type="text" id="reply_text" name="reply_text" />
         <label for="project-name">comment</label>
       
      <button type="submit" id = "reply" class="btn btn-primary">reply</button>

{{/each}}


<script src="./js/profile.js"></script>